.certificates-h1 {
    display: flex;
    justify-content: center;
}

.certificates-img {
    width: 20vw;
}

.modal-certificates {
    height: 90vh;
}


.certificates-container {
    border: 5px solid rgba(0, 26, 255, 0.6);
    border-radius: 10px;
    margin-right: 19vw;
    margin-left: 19vw;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
}

.certificates-button {
    border: none;
    padding: 0;
    cursor: pointer;
}